body{

    text-align: center;
    background-color: #D6E6F2;
}

h1{

    color: #75C2F6;
    font-family: "Helvetica";
    font-weight: lighter;
    font-size: 70px;
    text-align: center;
    margin-top: 100px;



}

.inlog {

    text-align: center;
    width: 400px;
    height: auto;
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-family: "Helvetica";
    font-weight: lighter;
    font-size: 12px;
    margin-top: 20px;

}


h2 {
    color: #F8B195;
    font-family: "Helvetica";
    font-weight: lighter;
    text-align: center;
}
<<<<<<< HEAD
=======


>>>>>>> 9e66cdd9748003a5080fc2a2d9d375be2d411cbc
