body{

    text-align: center;
    background-color: #D6E6F2;
}

h1{

    color: #75C2F6;
    font-family: "Helvetica";
    font-weight: lighter;
    font-size: 70px;
    text-align: center;
    margin-top: 100px;



}

.inlog {

    text-align: center;
    width: 400px;
    height: auto;
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-family: "Helvetica";
    font-weight: lighter;
    font-size: 12px;
    margin-top: 20px;

}


h2 {
    color: #F8B195;
    font-family: "Helvetica";
    font-weight: lighter;
    text-align: center;
}

#submit {
    color: #BEEB9F;
    font-family: "Helvetica";
    font-weight: lighter;
    margin-top: 20px;
    text-align: center;
}

#submit:hover {
  background-color: #F8B195;
}

.inlog_form p {

    font-size: 10px;
    font-family: "Helvetica";
}
