body{

    text-align: center;
    background-color: #f8eeec;
}

h1{

    color: #4A8DAC;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 70pt;
    text-align: center;
    margin-top: 8%;
}


h2{

    color: #4A8DAC;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    text-align: center;

}

h3{
    color: #f8eeec;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;

}

/*bakgrund på policy-sidan*/
.policy {
    width: 40vw;
    background-color: #6e91bf;
    padding: 4%;
    border: none;
    border-radius: 10%;
    color: black;
    text-align: center;
    position: absolute;
    left: 27.5%;
}

/*brödtexten i policy-sidan*/
.policy p {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    text-align: center;
}

/*placering av rubrik på policy-sidan*/
.policyHeader {
    margin-top: 9.5%;
    font-size: 20pt;
}

/*listan på policy-sidan*/
ul {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    text-align: left;
    margin-left: 30%;    
}

.inlog {

    text-align: center;
    width: 16%;
    height: 5%;
    padding: 7px;
    border: none;
    border-radius: 5%;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 12px;
    margin-top: 20px;
}

/*OmOss.php*/
/*Om oss text*/
.omOss {
    text-align: center;
    margin-top: 8%;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 10pt;
    color: black;
}

#text
{
    width: 40vw;
    background-color: #6e91bf;
    padding: 3%;
    border: none;
    border-radius: 9%;
    color: black;
    text-align: center;
    font-size: 11pt;
    position: absolute;
    left: 27.5%;
    
}

.submit {

    background-color: #FEDCD2;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-top: 1%;
    text-align: center;
    width: 10%;
    height: 6%;
    border: none;
    border-radius: 10%;
    transition: all 0.4s ease 0s;

}

.submit:hover {

  background-color: #F8B595;

}

/*tillbaka knapp*/
.submitbutton
{
background-color: #FEDCD2;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-top: 1%;
    text-align: center;
    width: 10%;
    height: 6%;
    border: none;
    border-radius: 10%;
    transition: all 0.4s ease 0s;
    margin-right: 1%;
    position:absolute; top:0; right:0;
}

.submitbutton::hover
{
    background-color: #F8B595;
}


.inlog_form p {

    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;

}
/*en allmän länk? vad är detta Det ändrar utseende för alla länkar. */
a{

    color: #4A8DAC;
    text-decoration: none;
    transition: color 0.4s ease;

}

a:hover{

    color: #F8B595;

}

.register {
  text-align: center;
  width: 25%;
  height: 5%;
  padding: 0,2%;
  border: none;
  border-radius: 8%;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 10pt;
  margin-top: 1.2%;
}

.register_form p {
  font-size: 10pt;
  font-family: 'Montserrat', sans-serif;
}
/* Header nr 3 färg till reg sidan */
#hreg {
    color: #4A8DAC;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

/*inloggad.php*/
/*Väkomsttext på inlogg*/
.welcome {

    padding-top: 1%;
    text-align: left;
/*  width: 15vw;
    height: 5vh;
    background-color:#EBEBEB;  */
    color: #000000;
    font-weight: lighter;
    box-sizing: border-box;
    border-radius: 3%;
    font-family: 'Montserrat', sans-serif;;
    font-size: 12pt;
    margin-top: 3%;
    margin-left: 5vw;
}

.errorMessage {
    font-family: 'Montserrat', sans-serif;;
    font-size: 12pt;
    font-weight: lighter;   
}

/* Grafen */
.chart_container{
    width: 70%;
    height: 40%;
    margin: 0 auto;
}

/*knappen som leder från inloggad-sidan till mood form-sidan*/
#todaysMoodLog {
    /*fixa placering av knappen*/
}

/*hamburgermeny*/

#menu a
{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: #232323;
  transition: color 0.3s ease;
}

#menu a:hover
{
  color: #F8B595;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #6e91bf;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100px;
    height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #6e91bf;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 4% 0;
  font-size: 12pt;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
    transform: none;
}

/*design på grafen*/
#graph {
    margin-right: 10%;
}

#text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    text-align: center;
}

/*moodForm.php*/
/*alternativen från 1 till 7*/
.mood {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-top: 3%;
    margin-bottom: 3%;
}

/*hela mående-formuläret*/
.mood_form {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    width: 40vw;
    background-color: #6e91bf;
    padding: 5%;
    border: none;
    border-radius: 3%;
    color: black;
    text-align: center;
    position: absolute;
    left: 27.5%;
    margin-bottom: 20%;
}

/*frågorna i mående-formuläret*/
.question {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 18pt;
}
/*alternativ 1 till 7-knapparna*/
.radioButtons {
  margin-bottom: 3%;
  display: inline-block;
  text-align: center;
  width: auto;
}

/*Radio buttons centrerade över labels*/
.alternative {
  display: inline-block;
  text-align: center;
}

/*försök att dela upp så de skulle ordna sig horisontellt :-)*/
.alternative label {
    display: block;
    width: auto; 
}
/*Underrubrik till formulär betygskala */
.question p {
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
}

/*Stil på checkbox delen i formuläret */
.symptom {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: left;
}

/*rubriken till kommentarsfältet*/
#comment {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-top: 5%;
}

/* Delar in checkbox delen i en ruta */
.partOfFormCheck {
  text-align: left;
  margin-left: 30%;
}

/*själva kommentarsfältet*/
#commentSection {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    width: 70%;
    height: 50%;
    border-radius: 15%;
    border: none;
    resize: none;
}

/*Väkomsttext på inlogg*/
.welcome{

    padding-top: 2px;
    text-align: left;
/*  width: 15vw;
    height: 5vh;
    background-color:#EBEBEB;  */
    color: #000000;
    font-weight: lighter;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;;
    font-size: 12pt;
    margin-top: 15px;
    margin-left: 5vw;

}

.errorMessage {
    font-family: 'Montserrat', sans-serif;;
    font-size: 12pt;
    font-weight: lighter;   
}

/* Grafen */
.chart_container{
    width: 60%;
    height: 350px;
    margin: 0 auto;
}

/*knappen som leder från inloggad-sidan till mood form-sidan*/
#todaysMoodLog {
    /*fixa placering av knappen*/
}

.header_text{

    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    font-weight: lighter;  
    color:#4A8DAC;

}

.log_container{

    position: relative;
    left: 30%;
    top:5%;
    width: 40%;
    height: 20%;
    background-color: #6e91bf;
    box-sizing: border-box;
    padding: 2px;
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;

}
.log_container_right{
    position: relative;
    left:20%;
    bottom:70%; 
}
.log_container_left{
    position: relative;
    right: 30%;

}
/*.todays_log_rating{
    
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
}

.todays_log{

    text-align:right;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    display: inline-block;
    

}*/

/*.mButton {
    background-color: #7DC383;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    text-align: center;
    border: none;
    border-radius: 10%;
    transition: all 0.4s ease 0s;
    width: 40%;
    height: 30%;
}

.mButton:hover {
    background-color: #F8B595;
}

#modalText {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 10pt;   
    color: black;
}

.headerandfooter {
    background-color: #F8B595;
}*/

